extends ../layouts/index
include ../../../public/mixins/icons
include ../../../public/mixins/filters
block menu
    avatar(email="#{email}",full="#{fullAvatar}",cropped="#{croppedAvatar}",isupdate="#{imageUpdate}")
block content
    web-slide(opened="true",timein="800",timeout="800")#userScreen
        .row
            user-form-service
            web-form(action="/user",method="POST",fields="['firstName','lastName','birthDate','website','motto','location','country','gender','about']")
                .col-lg-2
                //web-goo-button.yellow-round(title="Reset",starton="true",left-escort)
                .col-lg-3
                    web-slide(opened="true")#leftSlide
                        #fieldset Basic information
                        web-input(placeholder="First Name",named="firstName",validation='[{regexp:/^[a-zA-Z0-9а-яА-Я- ]+$/i,msg:"FirstnameError"}]',required="true",value="#{firstName}",mode="view")#firstName
                            #icon
                                +diamond
                        web-input(placeholder="Last Name",named="lastName",validation='[{regexp:/^[a-zA-Z0-9а-яА-Я- ]+$/i,msg:"LastnameError"}]',required="true",value="#{lastName}",mode="view")#lastName
                            #icon
                                +diamond
                        web-datepicker(placeholder="Date of Birth (YYYY-MM-DD)",apperance="slide",validation='[{regexp:/^((19[0-9]{2}|2[0-9]{3})-(0[1-9]|1[012])-([123]0|[012][1-9]|31)|)$/i,msg:"DateError"}]',named="birthDate",value="#{birthDate}",mode="view")#birthDate
                            #icon
                                +date
                        web-input(placeholder="http(s)://website.com",named="website",validation='[{regexp:"/^(http(s?)u005C:u005C/u005C/([u005Cw]+u005C.){1}([u005Cw]+u005C.?)|)$/i",msg:"WebsiteError"}]',value='#{website}',mode="view")#website
                            #icon
                                +diamond
                        web-input(placeholder="Motto",named="motto",maxlength="30",value="#{motto}",mode="view")#motto
                            #icon
                                +motto
                .col-lg-1
                .col-lg-3#right-content
                    #fieldset Other information
                    web-input(placeholder="Location",named="location",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)$/i,msg:"LocationError"}]',value="#{location}",mode="view")#location
                        #icon
                            +location
                    web-select(placeholder="Country",named="country",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)+$/i,msg:"CountryError"}]',data='#{countries.toString()}',limit="4",value="#{country}",mode="view")#country
                        #icon
                            +diamond
                    web-chooser(named="gender",buttons='[{title:"Man",value:"male"},{title:"Woman",value:"female"}]',value="#{gender}",mode="view")#gender
                        #icon
                            +diamond
                    web-textarea(placeholder="About Me",named="about",value="#{about}",mode="view")#about
                        #icon
                            +diamond
                    web-ripple-button#freelancerButton.purple-round(title="I wanna be freelancer")
                .col-lg-1
                .col-lg-2#right-bar
                    web-ripple-button#submit.purple-round(title="Save")
                    //web-ripple-button#close.purple-round(title="Close")
                    web-ripple-button#edit.purple-round(title="Edit")
    web-slide(opened="false",mode="absolute",apperance="right",timein="1000",timeout="1000")#freelancerScreen
        .row
                .col-lg-2

                .col-lg-3
                    web-slide(opened="true")
                        #fieldset Basic information
                        web-input(placeholder="First Name",named="firstName",validation='[{regexp:/^[a-zA-Z0-9а-яА-Я- ]+$/i,msg:"FirstnameError"}]',required="true",value="#{firstName}",mode="view")#firstName2
                            #icon
                                +diamond
                        web-input(placeholder="Last Name",named="lastName",validation='[{regexp:/^[a-zA-Z0-9а-яА-Я- ]+$/i,msg:"LastnameError"}]',required="true",value="#{lastName}",mode="view")#lastName2
                            #icon
                                +diamond
                        web-datepicker(placeholder="Date of Birth (YYYY-MM-DD)",apperance="slide",validation='[{regexp:/^((19[0-9]{2}|2[0-9]{3})-(0[1-9]|1[012])-([123]0|[012][1-9]|31)|)$/i,msg:"DateError"}]',named="birthDate",value="#{birthDate}",mode="view")#birthDate2
                            #icon
                                +date
                        web-input(placeholder="http(s)://website.com",named="website",validation='[{regexp:"/^(http(s?)u005C:u005C/u005C/([u005Cw]+u005C.){1}([u005Cw]+u005C.?)|)$/i",msg:"WebsiteError"}]',value='#{website}',mode="view")#website2
                            #icon
                                +diamond
                        web-input(placeholder="Motto",named="motto",maxlength="30",value="#{motto}",mode="view")#motto2
                            #icon
                                +motto
                .col-lg-1
                .col-lg-3
                    #fieldset Other information
                    web-input(placeholder="Location",named="location",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)$/i,msg:"LocationError"}]',value="#{location}",mode="view")#location2
                        #icon
                            +location
                    web-select(placeholder="Country",named="country",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)+$/i,msg:"CountryError"}]',data='#{countries.toString()}',limit="4",value="#{country}",mode="view")#country2
                        #icon
                            +diamond
                    web-chooser(named="gender",buttons='[{title:"Man",value:"male"},{title:"Woman",value:"female"}]',value="#{gender}",mode="view")#gender2
                        #icon
                            +diamond
                    web-textarea(placeholder="About Me",named="about",value="#{about}",mode="view")#about2
                        #icon
                            +diamond
                    web-ripple-button#userbutton.yellow-round(title="User preference")
                .col-lg-1
                .col-lg-2




