doctype html
html
    head
        title= title
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800&subset=latin,cyrillic-ext',rel='stylesheet',type='text/css')
        link(type="text/css" rel="stylesheet" href="/stylesheets/styles.css")
        if showTests
            link(type="text/css" rel="stylesheet" href="/vendor/mocha/mocha.css")
        script(data-main="/main" data-show-test="#{showTests}" src="/vendor/requirejs/require.js")
    body.unresolved
           x-l18n
           x-media-queries
           x-hash
           x-snackbar(right,bottom,time="5000")
           resizer
       .container-fluid
           include ../../../public/mixins/filters
           +goo
           #wrapper.row
               table
                    tr
                        td#menu
                            menu-header(isauth="#{isAuth}",name="menu-header",title="#{user ? user.firstName+' '+user.lastName : ''}")
                            content(isauth="#{isAuth}",name="menu-content")
                                block menu
                        td#content
                            header(isauth="#{isAuth}",submenu="#{headerSubMenu}",active="#{activeHeaderMenuItem}",name="header")
                            content(isauth="#{isAuth}",name="content")
                                block content
       if showTests
           #mocha(data-page-tests="#{pageTests}")
       block requires






